<h1 class="text-center mt-5">
    Vista detalle de los productos
</h1>


{{#if error}}
    <h2 class="texrt-center mt-5">Error al cargar el producto.</h2>
{{else}}
    <p>{{producto.nombre}}</p>
{{/if}}