<h1 class="text-center mt-5">Vista modificar</h1>


<form id="formModificar">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" class="form-control" name="nombre" id="nombre" value="{{producto.id}}" disabled>
</form>